# Most games in ETF2L history
https://github.com/Astatham98/etf2l_matches

Press the magic wand to get a full table

In [ ]:
import pandas as pd
df = pd.read_csv('player_stats.csv')
df

In [ ]:
df_games = df[["Name", "Highlander games", "6's games"]]

## Most HL games played

In [ ]:
hl = df_games.sort_values(by=["Highlander games"], ascending=False)
hl

## Most 6's games played

In [ ]:
sixes = df_games.sort_values(by=["6's games"], ascending=False)
sixes

## Country statistics

In [ ]:
df_country = df[['Matches played', 'Country']]

In [ ]:
countries_stats = {}
for matches, country in zip(df_country['Matches played'].tolist(), df_country['Country'].tolist()):
  stats = countries_stats.get(country, [])
  if len(stats) > 0: 
    total = stats[0] + 1
    amount = stats[1] + matches
  else: total, amount = 1, matches
  countries_stats[country] = [total, amount]

country = []
total_matches = []
average = []
most_seen = []
for k, v in countries_stats.items():
  country.append(k)
  total_matches.append(v[1])
  most_seen.append(v[0])
  average.append(v[1]/v[0])

country_stats_dict = {'Country': country, 
                      'Total matches': total_matches, 
                      'Average matches': average,
                      'Most seen country in the top 100': most_seen,}
df_country_stats = pd.DataFrame(country_stats_dict)

## Total matches for a country

In [ ]:
total = df_country_stats.sort_values(by=["Total matches"], ascending=False)
total

## Average matches per country

In [ ]:
avg = df_country_stats.sort_values(by=["Average matches"], ascending=False)
avg

## Most times seen in the top 100

In [ ]:
seen = df_country_stats.sort_values(by=["Most seen country in the top 100"], ascending=False)
seen